.cards {
    display: flex;           
    align-items: center;      
    justify-content: center; 
    width: 100%;
    height: 80px;
    margin-top: 30px;
    gap: 10px;                
  }
  
  .pic {
    height: 40px;             
    width: 40px;  
    margin-top: 20px;            
  }
  