.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.dashboard-content {
  padding: 20px;
  background-color: #ffffff;
  flex: 1; 
}


  .main-content {
    display: flex;
    flex: 1;
    margin-left: 300px;
    margin-top: 70px;
    width: 70%;
  }
  .contentside{
    width: 70%;
    align-items: center;
    margin-left: -197px;
  }
  .cardside{
 position: fixed;
 right:35px;
 width: 300px;
  }