.accuracy-container-with-label {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 90%;
  }
  
  .accuracy-container {
    width: 100%;
    height: 25px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .accuracy-fill {
    height: 100%;
    background-color: var(--green-primary);
    width: 0;
    transition: width 0.2s ease-in-out;
  }
  
  .accuracy-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
  }
  
  .accuracy-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--green-primary);
  }
  