
  .main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
  }
  .back-button {
    position: relative;
    padding: 10px 20px;
    font-size: 26px;
    background-color: var(--green-solid); /* Use your green color */
    color: var(--green-secondary);/* White text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 30px;
    width: 100px;
    
    background-color:#2d3a3f; ;
   
  }
  
  .back-button:hover {
    background-color: var(--green-secondary); /* Slightly transparent green on hover */
  }
  .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .progress-circle {
    position: relative;
  }
  
  .progress-bg {
    opacity: 0.3;
  }
  
  .progress {
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  
  .progress-circle text {
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  .start-button {
    position: relative;
    padding: 10px 20px;
    font-size: 26px;
    background-color: var(--green-solid); /* Green background */
    color: var(--green-secondary); /* White text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 150px;
  }
  
  .start-button:hover {
    background-color: var(--green-secondary); /* Slightly transparent green on hover */
  }.progress-bar-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .progress-bar {
    
    height: 20px; /* Set a fixed height for the progress bar */
    background-color: var(--green-primary);
    border-radius: 10px;
    position: relative;
  }
  
  
  .progress-details {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .check-icon {
    margin-left: 10px;
    color: green;
    font-size: 24px;
  }
  .accuracy-card {
    position: fixed;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    width: 300px;
  }
  
  .accuracy-card h3 {
    font-size: 24px;
    color: var(--green-primary);
    margin-bottom: 10px;
  }
  
  .accuracy-card p {
    font-size: 16px;
    color: #333;
  }
  
  .close-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    transition: color 0.2s;
  }
  
  .close-card:hover {
    color: #000;
  }
  .pic3 {
    width: 25px; 
    height: 25px;
    object-fit: contain;
    margin-right: 5px;
  }