   .progress1{
    width: 100%;
    height: 40px;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-left: 200px;
   }
  .progress-bar-container {
    width: 80%;
    max-width: 600px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 20px;
    right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 18px;
    
  }
  
  .progress-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 15px;
    transition: width 0.3s ease-in-out;
  }
  .Xpic{
    width: 30px;
    height: 30px;
  }
  .leaf {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
  }
  .text-leaf {
    color: #1fa046;
    font-size: medium; /* Leaf color */
  }
  